@using MovieLibrary.Web.Infrastructure
@using Microsoft.AspNetCore.Identity
@using MovieLibrary.Models
@model MovieLibrary.Web.Models.Movies.MovieDetailedModel

@{
    ViewData["Title"] = @Model.Title;
}
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="/Movies/Index"><i class="fa fa-home"></i>Movie List</a>
                    <span>@Model.Title</span>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="anime-details spad">
    <div class="container">
        <div class="anime__details__content">
            <div class="row">
                <div class="col-lg-3">
                    <div class="anime__details__pic set-bg" data-setbg="@Model.ImageUrl">
                        <div class="comment"><i class="fa fa-thumbs-up"></i>&nbsp @Model.Likes</div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="anime__details__text">
                        <div class="anime__details__title">
                            <h3>@Model.Title</h3>
                        </div>
                        @*<div class="anime__details__rating">
                        <div class="rating">
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star-half-o"></i></a>
                        </div>
                        <span>1.029 Votes</span>
                        </div>*@
                        <p>@Model.Overview</p>
                        <div class="anime__details__widget">
                            <div class="row">
                                <div class="col-lg-8 col-md-8">
                                    <ul>
                                        <li><span>Genre:</span>@Model.GenreName</li>
                                        <li><span>Director:</span>@Model.Director</li>
                                        <li><span>Premiere Date:</span>@Model.PremiereDate.ToString("ddd, dd MMM yyy")</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="anime__details__btn">
                            @if (this.User.GetId() == Model.CreatorId)
                            {
                                <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning"><i class="fa fa-pencil"></i> Edit</a>
                                <a asp-action="Delete" asp-route-id="@Model?.Id" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</a>
                            }
                            else
                            {
                                <a asp-action="Like" asp-route-id="@Model?.Id" class="btn btn-primary"><i class="fa fa-thumbs-up"></i> Like</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="anime__details__review">
                    <div class="section-title">
                        <h5>Reviews</h5>
                    </div>
                    @foreach (var review in Model!.Reviews)
                    {
                        <div class="anime__review__item">
                            <div class="anime__review__item__text">
                                <h6>@review.Title <span> - </span></h6>
                                <p> @review.Content</p>
                            </div>
                        </div>
                    }
                </div>
                <div class="anime__details__form">
                    <div class="section-title">
                        <h5>Write a review</h5>
                    </div>
                    <form asp-action="AddReview" asp-route-movieId="@Model?.Id">
                        <input name="Title" class="form-control" placeholder="Type review title..."/>
                        <textarea name="content" placeholder="Type your review here..."></textarea>
                        <button type="submit"><i class="fa fa-location-arrow"></i> Publish</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>